body {
    overflow-x: hidden;
}


/* suggested books */
.suggested-books {
    height: 100vh;
    
}

.books {
    position: relative;
    height: 50vh;
}

.book {
    width: 35%;
    position: absolute;
    box-shadow: 5px 5px 15px #444;
    border-right: 5px solid #777;
    border-bottom: 10px solid #444;
    transition: all .7s ease-in-out;
}

.book-1 {
    top: 5%;
    left: 20%;
    transform: rotate(-45deg);
}

.book-2 {
    top: 20%;
    left: 50%;
    transform: rotate(40deg);
}

.book-3 {
    top: 40%;
    left: 40%;
    transform: rotate(55deg);
}

.book-4 {
    top: 35%;
    left: 10%;
    transform: rotate(-38deg);
}

.book:hover {
    transform: scale(1.3) rotateX(20deg);
    z-index: 50;
    box-shadow: 5px 5px 25px #444;
    border-right: 10px solid #ddd;
    border-bottom: 20px solid #bbb;
}
/* end of suggested books */










