{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <!--navbar-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
    <header>
            <div>  <!--navbar-->
                <nav id="nav" class="navbar navbar-expand-lg navbar-light ">
                    
                    <div class="logo" style="margin-left: -35px;">
                        
                           <a href="/">  <img src="{% static 'images/brand.png' %}" alt="Navbar"> </a>
                        </div>
                        
                        
                       
                            <div  class="text-uppercase font-weight-bold" id="navbarTogglerDemo02">
                                <div class="text-left" style="font-size: 16px;">
                                <div class="text-right">
                                    <ul  class="navbar-nav mr-auto mt-2 mt-lg-0">
                                    
                                            
                                    
                                </ul> </div>
                                </div>
                              </div>
                        
                      </nav>
        </div>
                            <!--end of navbar-->
             <div class="container">
                 <div class="row">
                     <div class="col-sm-2 ">

                     </div>
                     <div class="col">
                         <h4 class="text-center display-3 ">About Us</h4>
                         <h4 class="text-center display-4">Our Mission</h4>
                         <p> {{ cat.about }} </p>
                     </div>
                     <div class="col-sm-2 ">
                         
                    </div>
                 </div>
             </div>
              <!-- footer -->
     <footer class="bg-secondary" >
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <img src="{% static 'images/brand-white.png' %}" class="img-fluid" style="margin-top: 3%;max-width: 30%;" alt="">
                    <h3 style="margin-top: 2%;font-size: 90%;;" class="text-light font-weight-light font-italic mb-3">Shows The World Inside you</h3>
                    
                    <p class="text-light py-4 m-0">Create , Design and Published by Hassan Abbas</p>
                </div>
            </div>
        </div>
     </footer>
     <!-- end of footer -->
    </header>



    
