{% load staticfiles %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">


<body style="max-height: 70%;background: linear-gradient(rgba(0,0,0,.4) ,rgba(0,0,0,.5)),url('{% static 'images/log.jpeg' %}') no-repeat ;" >
                <div class="container-fluid">
                                
                                        <div col style="color: white; ;margin-left: 4%;margin-top: 20%;" class="text-center">
                                                <h1>{{ posts.title }}</h1> <br>
                                                <p> Do you want to delete? </p>
                                                <form  method="post">
                                                        {% csrf_token %}
                                                        <button class="btn btn-danger" type="submit">Delete</button>
                                                </form>
                                                   
                                        </div>
                                        
                                </div>
                        </div>
                                
</body>


