{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <!--navbar-->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <div>  <!--navbar-->
            <nav id="nav" class="navbar navbar-expand-lg navbar-light ">
                
                <div class="logo" style="margin-left: -35px;">
                    
                        <a href="/"><img src="{% static 'images/brand.png' %}" alt="Navbar"></a>
                    </div>
                    
                    
                   
                        <div  class="  text-uppercase font-weight-bold" id="navbarTogglerDemo02">
                            <div class="text-left" style="font-size: 16px;">
                            <div class="text-right">
                                <ul  class="navbar-nav mr-auto mt-2 mt-lg-0">
                                
                                        
                                
                            </ul> </div>
                            </div>
                          </div>
                    
                  </nav>
    </div>
                        <!--end of navbar-->
    
<div class="container-fluid bg" style="background: linear-gradient(rgba(0,0,0,.4) ,rgba(0,0,0,.5)),url('{% static 'images/log.jpeg' %}') no-repeat center center
/cover;height:153.5%;">
    

    <div class="row">

        <div class="col-sm-2 "><br> <br> <br></div>
        <div class="col">
            <div class="text-center " id=login>
                <h1 class="text-warning" style="font-family:Verdana, Geneva, Tahoma, sans-serif;" >Login Account</h1>
                <form action="" class="text-center" method="post" id="form">
                    {% csrf_token %}
                    <input type="text" name="username" id="user" class="form-control" required=True placeholder="User Name"> 
                    <input type="password" name="password" class="form-control" id="pass" required=True placeholder="Password">
                    <button class="btn btn-outline-warning btn-block" id="btn" type="submit">Login</button>

                </form>
                
            </div>
        </div>
        <div class="col-sm-2 "></div>
        

    </div>

</div>
 <!-- footer -->
